<!--<h3>%="#{@customer.last_name} #{@customer.first_name}"%>さんの会員情報の編集</h3>-->

  <%= form_with model:@customer, url: customers_path(@customer), method: :patch, local:true do |f| %>
  <table class="col-md-6 ml-5">
    <!--class="table table-hover table-inverse"-->
    <h4 class="col-md-6 mt-5 ml-5 mb-4"><span style="margin-left:180px;"></span><span class="alert-dark pl-3 pr-3">登録情報編集</span></h4>
        <tbody>
            <!--<tr>-->
            <!--    <td>会員ID</td>-->
            <!--    <td>%= @customer.id %></td>-->
            <!--</tr>-->
            <tr>
                <td class="pb-2">氏名<span style="margin-left:200px;">(性)</span></td>
                <td class="pb-2"><%= f.text_field :last_name %><span style="margin-left:30px;"></span>(名)<span style="margin-right:16px;"></span><%= f.text_field :first_name %></td>
            </tr>
            <tr>
                <td class="pb-2">フリガナ<span style="margin-left:165px;">(セイ)</span></td>
                <td class="pb-2"><%= f.text_field :last_name_kana %><span style="margin-left:30px;"></span>(メイ)<%= f.text_field :first_name_kana %></td>
            </tr>
            <tr>
                <td class="pb-2">メールアドレス</td>
                <td class="pb-2"><%= f.text_field :email %></td>
            </tr>
            <tr>
                <td class="pb-2">郵便番号(ハイフンなし)</td>
                <td class="pb-2"><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
                <td class="pb-2">住所</td>
                <td class="pb-2"><%= f.text_field :address, :size => "51*51" %></td>
            </tr>
            <tr>
                <td class="pb-2">電話番号</td>
                <td class="pb-2"><%= f.text_field :telephone_number %></td>
            </tr>
        </tbody>
  </table>
        <p class="col-md-6 mt-2"><span style="margin-left:260px;"></span><%= f.submit '編集内容を保存する', class:"btn btn-primary active pl-4 pr-4" %>
            <span style="margin-left:140px;"></span><%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger pl-2 pr-2" %>
        </p>
  <% end %>