<h1>マイページ</h1>

<p><%= link_to "プロフィール編集", customers_edit_path(@customer) %></p>
<p><%= link_to "パスワードを変更する", root_path %></p>
<!--<h1>%="#{@customer.last_name} #{@customer.first_name}"%> さん</h1>-->

<table class="table table-hover table-inverse">

      <tbody>
          <!--<tr>-->
          <!--    <td>会員ID</td>-->
          <!--    <td>%= @customer.id %></td>-->
          <!--</tr>-->

          <tr>
              <td>氏名</td>
              <td><%="#{@customer.last_name} #{@customer.first_name}"%></td>
          </tr>

          <tr>
              <td>フリガナ</td>
              <td><%="#{@customer.last_name_kana} #{@customer.first_name_kana}"%></td>
          </tr>

          <tr>
              <td>郵便番号</td>
              <td><%= @customer.postal_code %></td>
          </tr>

          <tr>
              <td>住所</td>
              <td><%= @customer.address %></td>
          </tr>

          <tr>
              <td>電話番号</td>
              <td><%= @customer.telephone_number %></td>
          </tr>

          <tr>
              <td>メールアドレス</td>
              <td><%= @customer.email %></td>
          </tr>

           <tr>
              <td>会員ステータス(開発用)</td>
              <td><%= @customer.is_deleted %></td>
          </tr>

      </tbody>
</table>
