<h3 style="margin:45px 0 70px 170px;"><span class="alert-dark pl-3 pr-3">ジャンル編集</span></h3>
<%= render "layouts/error_messages", resource: @genre %>
<!-- form_with部分 -->
<%= form_with model: @genre, url: admins_genre_path, local: true do |f| %>
  <h4 style="margin:0 0 70px 80px;">ジャンル<span style="margin-left:20px;"></span>
  <%= f.text_field :name %>
    <span style="margin-left:10px;"></span>
    <!--%= f.label :is_active, "", :value => "true" %>-->
    <%= f.radio_button :is_active, true, :checked => true %>  有効
    <!--%= f.label :is_active, "", :value => "false" %>-->
    <span style="margin-left:10px;"></span>
    <%= f.radio_button :is_active, false %>  無効
  <span style="margin-left:20px;"></span><%= f.submit '変更を保存する', class:"btn btn-primary" %></h4>
<% end %>