<h4 style="margin:40px 150px;"><span class="alert-dark pl-3 pr-3">配送先編集</span></h4>
<div style="margin-left:80px;">

<%= render "layouts/error_messages", resource: @address %>
  <%= form_with model:@address, url: address_path, local:true do |f| %>
    <label style="margin-right:20px;">郵便番号(ハイフンなし)</label>
    <%= f.text_field :postal_code, :size => "30*30" %>
    <br>
    <label style="margin-right:160px;">住所</label>
    <%= f.text_field :address, :size => "60*60" %>
    <br>
    <label style="margin-right:160px;">宛名</label>
    <%= f.text_field :name, :size => "30*30" %>
    <p style="margin-left:760px;"><%= f.submit '編集する', class:"btn btn-primary active pl-5 pr-5" %></p>
  <% end %>
</div>