<h3 style="margin:45px 0 50px 170px;"><span class="alert-dark pl-3 pr-3">
  <%="#{@customer.last_name} #{@customer.first_name}"%>さんの会員詳細
</span></h3>

  <div style="margin-left:170px;">
      <p>
          顧客ID<span style="margin-right:150px;"></span>
          <%= @customer.id %>
      </p>
      <p>
          氏名<span style="margin-right:165px;"></span>
          <%="#{@customer.last_name} #{@customer.first_name}"%>
      </p>

      <p>
          フリガナ<span style="margin-right:132px;"></span>
          <%="#{@customer.last_name_kana} #{@customer.first_name_kana}"%>
      </p>

      <p>
          郵便番号<span style="margin-right:132px;"></span>
          <%= @customer.postal_code %>
      </p>

      <p>
          住所<span style="margin-right:165px;"></span>
          <%= @customer.address %>
      </p>

      <p>
          電話番号<span style="margin-right:132px;"></span>
          <%= @customer.telephone_number %>
      </p>

      <p>
          メールアドレス<span style="margin-right:88px;"></span>
          <%= @customer.email %>
      <p>
      
      <p>
          会員ステータス<span style="margin-right:88px;"></span>
          <%= @customer.is_deleted %>
      <p>
      

      <p style="margin-top:30px;"><%= link_to "編集する", edit_admins_customer_path(@customer.id), class:"btn btn-primary active pl-3 pr-3" %><span style="margin-right:20px;"></span>
        <%= link_to "注文履歴一覧を見る", orders_path, class:"btn btn-primary active pl-3 pr-3" %>
      </p>
  </div>

