<h3 class="title"><span class="alert-dark pl-3 pr-3">商品新規登録</span></h3>
<div class="container">
    <%= form_with model:@item, url: admins_items_path, method: :post, local:true do |f| %>
    <div class="row">

            <div class="item-image col-md-4">
                <%= attachment_image_tag @item, :image, format: 'jpeg', size:"300x200", fallback: "no_image.jpg" %>
                <%= f.attachment_field :image %>
            </div>

            <div class="col-md-7">
                <p><span class="name marbo">商品名</span><%= f.text_field :name, :size => "31*31" %></p>

                <p class="display setu">商品説明</p><p class="newexplanation display"><%= f.text_area :introduction, :size => "30*30" %></p>

                <p class="marbo">ジャンル<span class="jan"></span><%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '--選択してください--  ' } %></p>

                <p class="marbo">税抜価格<span class="kaka"></span><%= f.number_field :price, class:"popo" %><span>  円</span></p>

                <p class="marbo">販売<span class="han"></span><%= f.select :is_active, [['販売中',0],['販売停止',1]],{ include_blank: true, selected: 0 } %><br>ステータス</p>
            </div>
            <div class="col-md-1">
                <div class="bottom"><%= f.submit '新規登録', class:"btn btn-primary pt-3 pb-3 pl-5 pr-5" %></div>
            </div>
    </div>
    <% end %>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#item-image').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $(".image").change(function(){
    readURL(this);
  });
});
</script>
