<h5 style="margin:120px 0 20px 220px;"><span class="alert-dark pl-3 pr-3">会員の方はこちらからログイン</span></h5>

<!--12/14種坂　下記form_withへ書き換えが必要-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p style="margin-left:350px;"><%= f.label :email, "メールアドレス" %>
    <span style="margin-right:10px;"></span><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*60" %></p>
  </div>

  <div class="field">
    <p style="margin-left:350px;"><%= f.label :password, "パスワード"  %>
    <span style="margin-right:40px;"></span><%= f.password_field :password, autocomplete: "current-password", :size => "60*60" %></p>
  </div>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p style="margin-left:730px;"><%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %></p>
<% end %>

  <div class="actions">
    <p style="margin-left:474px;"><%= f.submit "ログイン", class:"btn btn-primary active pl-5 pr-5" %></p>
  </div>
<% end %>

<p><span class="alert-dark pl-3 pr-3" style="margin-left:220px;">登録がお済みでない方</span></p>
<p style="margin-left:320px;"><%= link_to "こちら", new_customer_registration_path %><span>  から新規登録を行ってください。</span></p>

  <!--% if devise_mapping.rememberable? %>-->
  <!--  <div class="field">-->
  <!--    %= f.check_box :remember_me %>-->
  <!--    %= f.label :remember_me %>-->
  <!--  </div>-->
  <!--% end %>-->

<!--%= render "customers/shared/links" %>-->
