 <div class="container">
  <div class="row">
    <div class="col-md-12">

        <h4 class="sc"><span class="alert-dark pl-4 pr-4">注文情報入力</span></h4>
        <%= form_with model:@order, url: confirm_orders_path,method: :post, local:true do |f| %>

            <h5 class="kk">
                <span class="font">支払方法</span>
                <br>
                <span class="space">
                    <%= f.radio_button :payment_method, '0', checked: true, class:"mt-3" %>
                    <%= f.label :payment_method, 'クレジットカード', value: 0 %><br>
                </span>
                <span class="space">
                    <%= f.radio_button :payment_method, '1' %>
                    <%= f.label :payment_method, '銀行振込', value: 1 %>
                </span>
            </h5>

              <!--注文時の納品住所,注文時の郵便番号,注文時の納品先氏名-->
            <h5>
                <span class="font">お届け先</span>
                <br>
                <span class="space">
                    <%= f.radio_button :shipping_address, '0', checked: true  %>
                    <%= f.label :shipping_address, 'ご自身の住所', value: 0 %>
                </span>
                    <br>
                <span class="sp">
                    <%= "#{current_customer.postal_code}  #{current_customer.address}" %>
                </span>
                    <br>
                <div class="yy display">
                    <%= "#{current_customer.last_name} #{current_customer.first_name}" %>
                </div>
            </h5>

            <h5>
                <span class="space">
                    <%= f.radio_button :shipping_address, '1' %>
                    <%= f.label :shipping_address, '登録先住所から選択', value: 1 %>
                </span>
                    <br>
                <div class="yy">
                    <%= f.collection_select(:address_id, @addresses, :id, :view_for_shipping_address) %>
                </div>
            </h5>

            <h5>
                <span class="space">
                    <%= f.radio_button :shipping_address, '2' %>
                    <%= f.label :shipping_address, '新しいお届け先', value: 2 %>
                </span>
                    <br>
                <span class="sp">
                    <label>郵便番号(ハイフンなし)</label>
                    <span class="pos"></span><%= f.text_field :new_postal_code,  {class:"form-group mt-1 ml-1"} %>
                </span>
                    <br>
                <span class="sp">
                    <label>住所</label>
                    <span class="mar"></span><%= f.text_field :new_address, {class:"form-group  ml-1 col-md-7"}%>
                </span>
                    <br>
                <span class="sp">
                    <label>宛名</label>
                    <span class="mar"></span><%= f.text_field :new_name, {class:"form-group  ml-1"} %>
                </span>
            </h5>

            <div class="bbb">
                  <%= f.submit '確認画面へ進む', {class:"btn btn-primary active pl-4 pr-4 pb-2 pt-2"} %>
            </div>
        <% end %>
    </div>
  </div>
</div>