<div class="offset-1 col-md-">
    <h3 class="pt-5 pb-5" style="margin-left:150px;"><span class="alert-dark pl-3 pr-3">注文詳細履歴</span></h3>

  <h4 style="margin-bottom:30px;">購入者<span style="margin-left:150px;"></span><%= @order.name %></h4>
  <h4>配送先<span style="margin-left:150px;"></span><%= "#{@order.postal_code} #{@order.address}" %></h4>
  <h4 style="margin-bottom:30px;"><span style="margin-left:220px;"></span><%= @order.name %></h4>
  <h4 style="margin-bottom:30px;">支払い方法<span style="margin-left:100px;"></span><%= @order.payment_method %></h4>
  <h4 style="margin-bottom:70px;">
    <%= form_with model: @admins_order do |order| %>
    注文ステータス<span style="margin-left:30px;"></span><%= order.select :status, [["入金待ち", "入金待ち"], ["入金確認", "入金確認"], ["製作中", "製作中"], ["発送準備中", "発送準備中"], ["発送済み", "発送済み"]] %>
    <span style="margin-left:15px;"></span><%= link_to "更新", admins_order_path(@order), class:"btn btn-primary" %>
    <% end %>
  </h4>
</div>
 <div class="container">
    <div class="row">
    <table class="table table-hover table-inverse col-md-8">

        <thead>
            <tr class="table-active">
                <th style="width:180px;">商品名</th>
                <th style="width:150px;">単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th>制作ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @subtotal = 0 %>
            <% @total = 0 %>
            <% @order_details.each do |order| %>
                <tr>
                    <td>
        		        <%= order.item.name %>
                    </td>
                    <td>
                        <%= order.price %>
                    </td>
                    <td>
                        <%= order.amount %>
                    </td>
                    <td>
                        <%= @subtotal = order.price * order.amount %>
                    </td>
                        <% @total += @subtotal %>
                    <td>
                        <%= form_with model: @admins_order do |order| %>
                        <%= order.select :status, [["着手不可", "着手不可"], ["製作待ち", "製作待ち"], ["製作中", "製作中"], ["製作完了", "製作完了"]] %>
                        <span style="margin-right:20px;"></span><%= link_to "更新", admins_order_path(@order), class:"btn btn-primary" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

        <div class="col-md-3 offset-1" style="margin-top:60px;">
            <h4 style="width:430px; margin-bottom:25px;">商品合計<span style="margin-left:85px;"></span><%= @order.total_payment - @order.shipping_cost %>円</h4>
            <h4 style="width:430px; margin-bottom:25px;">配送料<span style="margin-left:120px;"></span><%= @order.shipping_cost %>円</h4>
            <h4 style="width:430px;">請求金額合計<span style="margin-left:30px;"></span><span style="font-weight:bold;"><%= @order.total_payment %>円</span></h4>
        </div>
    </div>
</div>
