
<% @items.each do |item| %>
    <div class="card text-center col-md-3">
        <div class="card-body center">
            <%= attachment_image_tag item, :image, format: 'jpeg', size:"150x100", fallback: "no_image.jpg" %>
            <%= link_to public_item_path(item.id) do %>
                <h6 class="card-title"><%= item.name %></h6>
            <% end %>
           <p class="card-text"><%= item.price %></p>
        </div>
    </div>
<% end %>


<div class="col-md-12 mt-3  text-right"><%= paginate items %></div>