


<div class="col-md-9">
    <h1><%= @genre.name %>一覧ページ</h1>
    <h3><%= @genre.name %>一覧（全<%= @genre.items.count %>件）</h3>
</div>
    <%items.each do |item| %>
        <div class="products">
            <%= attachment_image_tag item, :image, format: 'jpeg', size:"200x200", fallback: "no_image.jpg" %>
            <%= link_to public_item_path(item.id) do %>
                <%= item.name %>
            <% end %>
            <%= item.price %>
        </div>
    <% end %>

<%= paginate items %>