<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <!--ジャンル一覧-->
            <%= render 'public/items/genre_table', genres: @genres %>
        </div>

        <div class="col-md-5">
            <div class="item-image">
                <%= attachment_image_tag @item, :image, format: 'jpeg', size:"500x400", fallback: "no_image.jpg" %>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table table-borderless text-center">
                <tbody>
                    <tr>
                        <td><h3><%= @item.name %></h3></td>
                    </tr>
                    <tr>
                        <td><%= @item.introduction %></td>
                    </tr>

                    <tr>
                        <td><h3><%= "#{@item.price}円" %></h3>（税込）</td>
                    </tr>
                    <% if customer_signed_in? %>
                        <tr>
                            <td>
                                <!--12/18タネサカ追記-->
                                <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
                                <%= f.hidden_field :customer_id, value: current_customer.id %>
                                <%= f.hidden_field :item_id, value: @item.id %>
                                  <%= f.number_field :amount,value:1, min:1, max:10, class: "ss" %>
                                  <%= f.submit 'カートに追加' , {class:"btn btn-success mt-3"}  %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
