<h1>商品詳細ページ（利用者）</h1>

<!--エラーメッセージ風notice-->
<% if notice.present? %>
<h3 class="alert alert-danger">
 <%= notice %>
</h3>
<% end %>
<!--ここまで-->

<table class="table table-bordered genre-table">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to genre.name, public_items_path(genre_id: genre.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>


<div class="item-image">
    <%= attachment_image_tag @item, :image, format: 'jpeg', size:"500x500", fallback: "no_image.jpg" %>
</div>

<table class="table text-center">
    <tbody>
        <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
        </tr>
        <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
        </tr>

        <tr>
            <td><h3><%= @item.price %></h3>（税込）</td>
        </tr>
    </tbody>
</table>

<!--カートモデルが必要なためコメントアウトしてます。-->
<%#= form_with model:@cart_item, url: public_cartitem_path_item_path, method: :patch, local:true do |f| %>
<%#= f.number_field :price, :placeholder => "個数選択" %>
<%#= f.submit 'カートに追加', class:"btn btn-secondary" %>
<%# end %>
<!--カートモデルが必要なためコメントアウトしてます。-->

<!--12/18タネサカ追記-->
<%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
<%= f.hidden_field :customer_id, value: current_customer.id %>
<%= f.hidden_field :item_id, value: @item.id %>
  <%= f.number_field :amount,value:1, min:1, max:10 %>

  <%= f.submit 'カートに追加' %>
<% end %>